{% if count_files <= 0 %}

<div class="div-highlight ui-state-highlight ui-corner-all" style="padding: .1em; margin-bottom: 10px">
    <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
    {{ 'No files found' | trans({}, (bundle_name | lower)) }}
</div>

{% else %}

  <ul id="ul-sortable" style="list-style: none; margin: 0px; padding: 0px">
{% for file in files %}

    <li class="ui-state-default" style="padding: .2em; margin: 5px 0px">
        <a title="{{ 'Delete this entry' | trans({}, (bundle_name | lower)) }}" class="iec-button-delete" href="javascript:void(0)" onclick="if (confirm('{{ 'Are you sure?' | trans({}, (bundle_name | lower)) }}')) mmf_fm_load('#' + 'mmf-fm-list-tab', '{{ path( 'mmf_fm_delete', { 'url_safe_encoded_params': url_safe_encoded_params, 'url_safe_encoded_files_to_delete': url_safe_encoder.encode([file.getBaseName()]) }) }}')">{{ 'Delete' | trans({}, (bundle_name | lower)) }}</a>
{% if (params['on_select_callback_function'] is defined) or (params['CKEditorFuncNum'] is defined) %}
        <a title="{{ 'Select this entry' | trans({}, (bundle_name | lower)) }}" class="iec-button-select" href="javascript:void(0)" onclick="onSelect('{{ file.getBaseName() }}', '{{ params['upload_path_after_document_root'] }}')">{{ 'Select' | trans({}, (bundle_name | lower)) }}</a>
{% endif %}
        <!--<a title="{{ 'Rename this file' | trans({}, (bundle_name | lower)) }}" class="iec-button-rename" href="javascript:void(0)">{{ 'Rename' | trans({}, (bundle_name | lower)) }}</a>-->
        &nbsp;
        <a href="javascript:void(0)">{{ file.getMTime() | date }} -- {{ file.getSize() }} -- {{ file.getBaseName() }}</a>
    </li>
{% endfor %}
</ul>

{% endif %}

<script type="text/javascript">
//<![CDATA[


function onSelect(file_name, upload_path_after_document_root)
{

{% if params['on_select_callback_function'] is defined %}
  {{ params['on_select_callback_function'] | raw}}
{% endif %}

{% if params['CKEditorFuncNum'] is defined %}
    // in general ...window.opener.CKEDITOR.tools.callFunction( funcNum, fileUrl [, data] );
    window.opener.CKEDITOR.tools.callFunction( '{{ params['CKEditorFuncNum'] }}', upload_path_after_document_root + file_name );
    window.close();
{% endif %}

}


$(document).ready(function(){

$( ".iec-button-select").button({ text: false, icons: { primary: "ui-icon-check" } });
$( ".iec-button-delete").button({ text: false, icons: { primary: "ui-icon-trash" } });

});//document.ready
//]]>
</script>

